.main {
    color: #2e3237;
    font-family: 'Segoe UI Light', "Arial", serif;
    font-size: 18px;
}

#header {
}

img#logo {
    width: 80px;
    height: 80px;
    opacity: .75;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 100%;
}

img:hover#logo {
    opacity: 1;
}

.knappit {
    -moz-box-shadow: 0 1px 0 0 #f0f7fa;
    -webkit-box-shadow: 0 1px 0 0 #f0f7fa;
    box-shadow: 0 1px 0 0 #f0f7fa;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #33bdef), color-stop(1, #019ad2));
    background:-moz-linear-gradient(top, #33bdef 5%, #019ad2 100%);
    background:-webkit-linear-gradient(top, #33bdef 5%, #019ad2 100%);
    background:-o-linear-gradient(top, #33bdef 5%, #019ad2 100%);
    background:-ms-linear-gradient(top, #33bdef 5%, #019ad2 100%);
    background:linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#33bdef', endColorstr='#019ad2',GradientType=0);
    background-color:#33bdef;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #057fd0;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family: Arial, serif;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0 -1px 0 #5b6178;
}
.knappit:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #019ad2), color-stop(1, #33bdef));
    background:-moz-linear-gradient(top, #019ad2 5%, #33bdef 100%);
    background:-webkit-linear-gradient(top, #019ad2 5%, #33bdef 100%);
    background:-o-linear-gradient(top, #019ad2 5%, #33bdef 100%);
    background:-ms-linear-gradient(top, #019ad2 5%, #33bdef 100%);
    background:linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#019ad2', endColorstr='#33bdef',GradientType=0);
    background-color:#019ad2;
}
.knappit:active {
    position:relative;
    top:1px;
}

.knappit2 {
    -moz-box-shadow:inset 0 1px 0 0 #ffffff;
    -webkit-box-shadow:inset 0 1px 0 0 #ffffff;
    box-shadow:inset 0 1px 0 0 #ffffff;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6));
    background:-moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background:-webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background:-o-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background:-ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0);
    background-color:#ffffff;
    -moz-border-radius:0;
    -webkit-border-radius:0;
    border-radius:0;
    border:1px solid #dcdcdc;
    cursor:pointer;
    color:#666666;
    font-family: Arial, serif;
    font-size:15px;
    font-weight:bold;
    padding:6px 26px;
    text-decoration:none;
    text-shadow:0 1px 0 #ffffff;
    margin-left: 4px;
    margin-top: -4px;
}

.knappit2:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f6f6f6), color-stop(1, #ffffff));
    background:-moz-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
    background:-webkit-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
    background:-o-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
    background:-ms-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
    background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff',GradientType=0);
    background-color:#f6f6f6;
}
.knappit2:active {
    top:1px;
}


.searchfield {
    min-width: 40px;
    max-width: 100px;
    height: 20px;
    border: 2px solid #dadada;
    font-family: "Segoe MDL2 Assets", 'Segoe UI', Sans-Serif, serif;
    font-size: 20px;
    color: grey;
    padding-top: -20px;
    padding-left: 30px;
    padding-bottom: 5px;
    z-index: 1;
    margin-top: 2px;
    margin-left: 5px;
}
