@charset "UTF-8";
body > div {
    width: 100%;
    background-color: #ffffff;
    display: block;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    text-underline-color: white;
}

#logo {
    display: inline-block;
    margin-left: -45px;
    margin-right: 0;
    margin-top: -10px;
    width: 10%;
}

#logo img {
    display: inline-block;
    width: 80px;
    height: 80px;
    margin: 40px;
    opacity: .75;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 100%;
}

#logo img:hover {
    opacity: 1;
}

#header {
    height: 100px;
    margin-top: -25px;
    background-color: #ffffff;
    width: 75%;
    min-width: 800px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.headerelement {
    width: 33%;
    height: 33%;
    margin-top: -65px;
    display: inline-block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

#searchfield {
    width: 100%;
    min-width: 200px;
    height: 40px;
    border: 2px solid #dadada;
    font-family: "Segoe MDL2 Assets", 'Segoe UI', Sans-Serif, serif;
    font-size: 20px;
    color: grey;
    padding-top: -20px;
    padding-left: 30px;
    padding-bottom: 5px;
    z-index: 1;
    float: left;
    margin-left: 75%;
    margin-top: -55px;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2);
}

#searchbar {
    width: 33%;
    margin-left: 0;
}

#searchfield:focus {
    outline: none;
    box-shadow: 0 6px 10px 0 #9ecaed;
    z-index: 1;
}

#userbtn {
    font-family: "Segoe MDL2 Assets", 'Segoe UI', Sans-Serif, serif;
    font-weight: bold;
    background-color: #333333;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 7em;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin-top: -100px;
    margin-left: -125%;
}

#user {
    display: inline-block;
    width: 33%;
    float: right;
    margin-left: 25%;
}

.dropdown-content {
    display: none;
    position: inherit;
    background-color: white;
    min-width: 7em;
    max-width: 7em;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin-left: -125%;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    text-align: right;
    display: block;
    cursor:pointer;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdownField {
    display: block;
    position: inherit;
    background-color: white;
    width: 97%;
    z-index: 1;
}

#user:hover .dropdown-content {
    display: block;
}

#userbtn:hover {
    background-color: black;
}

#passwordfield, #usernamefield {
    width: 30%;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 3%;
    border: 2px solid #dadada;
    font-family: "Segoe MDL2 Assets", 'Segoe UI', Sans-Serif, serif;
    font-size: 20px;
    color: grey;
    padding-top: -20px;
    padding-left: 30px;
    padding-bottom: 5px;
    z-index: auto;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2);

}


#login, #createUser {
    -moz-box-shadow:inset 0 1px 0 0 #ffffff;
    -webkit-box-shadow:inset 0 1px 0 0 #ffffff;
    box-shadow:inset 0 1px 0 0 #ffffff;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6));
    background:-webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=1);
    background-color:#ffffff;
    -moz-border-radius:0;
    -webkit-border-radius:0;
    border-radius:0;
    border:1px solid #dcdcdc;
    cursor:pointer;
    color:#666666;
    font-family: Arial, serif;
    font-size:15px;
    font-weight:bold;
    padding:6px 26px;
    text-decoration:none;
    text-shadow:0 1px 0 #ffffff;
    bottom: 50px;
}

#login:hover, #createUser:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f6f6f6), color-stop(1, #ffffff));
    background:-webkit-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
    background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff',GradientType=0);
    background-color:#f6f6f6;
}

#login {
    position: absolute;
    left: 50px;
}
#createUser {
    position: absolute;
    right: 50px;
}


.knappit2 {
    -webkit-box-shadow:inset 0 1px 0 0 #ffffff;
    box-shadow:inset 0 1px 0 0 #ffffff;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6));
    background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=1);
    background-color:#ffffff;
    -moz-border-radius:0;
    -webkit-border-radius:0;
    border-radius:0;
    border:1px solid #dcdcdc;
    cursor:pointer;
    color:#666666;
    font-family: Arial, serif;
    font-size:15px;
    font-weight:bold;
    padding:6px 26px;
    text-decoration:none;
    text-shadow:0 1px 0 #ffffff;
    margin-left: 4px;
    margin-top: -4px;
}

.knappit2:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f6f6f6), color-stop(1, #ffffff));
    background:-webkit-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
    background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff',GradientType=0);
    background-color:#f6f6f6;
}
.knappit2:active {
    top:1px;
}


.modal {
    display: none;
    position: fixed;
    z-index: 2;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.7);
}

.modal-content {
    position: relative;
    margin: 5% auto auto;
    height: 300px;
    padding: 20px;
    border: 1px solid #888;
    width: 500px;
    background: #fefefe;
}


.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-content, #myCart h3{
    margin-top: 7%;
    margin-bottom: 5%;
    text-align: center;
    text-shadow: 3px 2px 4px rgba(148, 150, 150, 0.45);
    font-family: 'Segoe UI', Sans-Serif, serif;
    color: #333333;
}

.modal-content h3 {
    margin-bottom: 10%;
}


#menuelements {
    height: 55px;
    background-color: #333333;
    font-family: 'Segoe UI', Sans-Serif, serif;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    width: 75%;
    min-width: 800px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}

#menuelements a {
    color: white;
}

#menuelements ul li {
    display: inline;
    font-size: 20px;
    border-right: 0.001em solid #ffffff;
    padding: 0 20px;
}

#menuelements ul li:nth-last-child(1) {
    border-right: none;
}

#user {
    width: 50px;
    height: 50px;
    margin-top: 75px;
    font-weight: bold;
    margin-left: 20%;
    margin-right: auto;
    font-family: "Segoe MDL2 Assets", 'Segoe UI', Sans-Serif, serif;
}

#menuelements ul {
    padding: 2px 0 0;
}

#overskrift {
    margin-top: -3%;
    text-align: center;
    font-weight: bold;
}
::-webkit-scrollbar { /* Removed scrollbars so they can't be seen. you can still scroll.*/
    display: none;
}

#produkter {
    min-height: 60%;
    max-height: 60%;
    margin-bottom: 3%;
    text-align: right;
    overflow-y: scroll;
}

.purchaseBtn {
    color: white;
    height: 30px;
    width: 70px;
    position: absolute;
    bottom: 0;
    right: 20px;
    -moz-box-shadow:inset 0 34px 0 -15px #808080;
    -webkit-box-shadow:inset 0 34px 0 -15px #808080;
    box-shadow:inset 0 34px 0 -15px #808080;
    background-color:#6e6e6e;
    border:1px solid #241d13;
    display:inline-block;
    cursor:pointer;
    font-family: "Segoe UI Light", sans-serif, Helvetica;
    font-size:15px;
    font-weight:bold;
    padding:5px 20px;
    text-decoration:none;
    text-shadow:0 -1px 0 #3d3d3d;
}

#purchaseBtn:hover {
    background-color:#858285;
}

#buyShit {
    margin-left: 0;
    margin-top: -2%;
    width: 80px;
    height: 30px;
    -moz-box-shadow:inset 0 34px 0 -15px #808080;
    -webkit-box-shadow:inset 0 34px 0 -15px #808080;
    box-shadow:inset 0 34px 0 -15px #808080;
    background-color:#6e6e6e;
    border:1px solid #241d13;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family: "Segoe UI Light", sans-serif, Helvetica;
    font-size:15px;
    font-weight:bold;
    padding:5px 20px;
    text-decoration:none;
    text-shadow:0 -1px 0 #3d3d3d;
}

#buyShit:hover {
    background-color:#858285;
}

#total {
    margin-right: 0;
    float: right;
    text-align: right;
}
/* Her slutter basket */


#jumbotronelements {
    height: auto;
    color: black;
    width: 75%;
    min-width: 540px; /*(width/2) og stadig læsbart */
    max-width: 1200px;
    margin: 1% auto;
    text-align: center;
}

#jumbotronDiv {
}

#produktDiv {
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    text-align: center;
}

#produktDiv img {
    display: block;
    margin: auto;
    min-height: 50%;
    max-width: 300px;
    max-height: 300px;
}


#produktTabel {
    font-family: "Segoe UI Light", sans-serif, Helvetica;
    width: 100%;
    text-align: center;
}

#produktTabel td {
    height: 400px;
    width: 50%;
}

#produktTabel img {
    display: block;
    margin: auto;

    min-height: 50%;

    max-width: 400px;
    max-height: 400px;
}

.prodNavn {
    color: #333333;
    font-family: 'Segoe UI Light', "Arial", serif;
    font-size: 15px;
    font-weight: bold;
}

.prodNavn:hover {
    text-decoration: underline;
    text-underline-color: black;
}

.prodPris {
    color: orange;
    font-family: 'Segoe UI Light', "Arial", serif;
    font-size: 22px;
    font-weight: bold;
    margin: 0;
}

#footer {
    position: fixed;
    bottom: 0;
}

#footerelements {
    height: 2%;
    background-color: #333333;
    width: 75%;
    min-width: 800px;
    max-width: 1200px;

    margin-left: auto;
    margin-right: auto;
}

#footer p {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 15px;
    font-family: 'Segoe UI Light', "Arial", serif;
    text-align: center;
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 1px;
}

#cartBtn {
    float: right;
    margin-right: -112%;
    margin-top: -35%;
    border: none;
    background-size: 30px 30px;
    background: #333333 url('https://storage.googleapis.com/material-icons/external-assets/v4/icons/svg/ic_shopping_cart_white_48px.svg') no-repeat center;
    height: 53px;
    width: 53px;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2);
    padding-bottom: 12px;
    color: #333333;
    font-family: 'Segoe UI Light', "Arial", serif;
    font-weight: bolder;
    text-shadow: 0 0 6px rgba(0 0 0 1);
}

#cartBtn:hover {
    background-color: black;
}

.cart {
    display: none;
    position: fixed;
    z-index: 2;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.7);
}

.cart-content {
    background-color: #fefefe;
    position: relative;
    margin: 5% auto auto;
    height: 300px;
    padding: 20px;
    border: 1px solid #888;
    width: 500px;
}